{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <section class="cards">
        <div class="cards__card">
            <h2>Check on Git</h2>
            <p>If you are interested in exploring how this website was developed, you can check its GitHub repository.</p>
            <a href="https://github.com/rafaelmarianocorrea/sassdjango" target="_blank">View code</a>
        </div>
        <div class="cards__card">
            <h2>Latest Django Project</h2>
            <p>E-commerce website using Django during the Full Stack Web Development Program at The Code Institute.</p>
            <a href="https://github.com/rafaelmarianocorrea/ciproject4" target="_blank">View code</a>
        </div>
        <div class="cards__card">
            <h2>Let's Connect!</h2>
            <p>if you have any questions or would like to connect, please don't hesitate to reach out to me!</p>
            <a href="https://www.linkedin.com/in/rafaelmarianocorrea/" target="_blank">Linkedin Profile</a>
        </div>
    </section>
    <section class="content">
        <h1>A Django-based Website with API Integration and Real-Time Bullion Prices</h1>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div id="tradingview_72393"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
            new TradingView.widget(
            {
            "autosize": true,
            "symbol": "FOREXCOM:XAUGBP",
            "timezone": "Etc/UTC",
            "theme": "light",
            "style": "1",
            "locale": "en",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "range": "12M",
            "allow_symbol_change": false,
            "save_image": false,
            "hide_top_toolbar": true,
            "container_id": "tradingview_72393"
            }
            );
            </script>
        </div>
        <!-- TradingView Widget END -->
        <h2>
            About
        </h2>
        <p>
            This website was created to showcase my skills using the Django framework, Python, SASS, JS, HTML, CSS, and API integration. Due to time limitations, I was only able to include one app, but with more time, I plan to add an authentication system and other apps such as a blog, purchase system, and contact page.
            
            To build this site, I used two APIs. The first API, provided by Metal Price API, is used in the header to display real-time bullion prices. I programmed it to show prices in ounces for three different metals in both GBP and EUR. The second API, provided by TradingView, is used to show the GOLD/GBP chart.
            
            In addition, the website offers a second language option (Portuguese).
        </p>
    </section>

{% endblock %}