.metalapi {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.metalapi img {
    width: 150px;	
    height: 100px;
}

.metalapi table {
    width: 50%;
    height: 200px;
    margin-right: 2rem;
    margin-left: 2rem;
}
    
table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

th, td {
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}