@import 'config';
@import 'variables';
@import 'menu';
@import 'topbar';
@import 'metalapi';

body {
  background-color: $primary-color;
  margin: 0;
  padding: 0;
}

p {
  @include primaryFont;
  color: map-get($text-colors, primary);
  line-height: 2;
}

main {
	display: flex;
	flex-wrap: nowrap;
}

#tradingview_72393  > div {
  width: 100%;
  margin: 0 auto;
  border: 4px solid 
  $secondary-color;
  margin-top: 1000px;
  display: block;
  aspect-ratio: 16/9;
}

.cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  &__card {
    background-color: $container-bg;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    text-align: center;

    & a {
      @include primaryButton;
      text-decoration: none;
      margin-bottom: 15px;
    }
  }
}

.content {
  flex: 2;
  padding: 4rem;
}

@media screen and (max-width: 768px) {
  .cards {
    display: none;
  }
}

#main-footer {
  @include flex-center;
  background-color: #343a40;
  gap: 1rem;
  padding: 0.5rem;

  & a {
    @include primaryButton;
    text-decoration: none;
    margin-top: 0;
    background-color: $menu-hoover-color;
  }

  & img {
    width: 10%;
    height: 10%;
  }

}