{% load static %}

<div class="menu-btn">
  <span class="menu-btn__burger"></span>
</div>

<nav class="navbar">
  <a href="#" class="logo">Logo</a>
  <a href="#" class="nav-toggle" onclick="toggleNav()">☰</a>
  <ul class="nav-menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

{% block postloadjs %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}