{% load static %}

<div class="metalapi">
  <img src="{% static 'media/logo.png' %}">
  <table>
      <thead>
        <tr>
          <th>Pound</th>
          <th>Ounces</th>
        </tr>
      </thead>
      <tbody>
          {% for currency, rate in GBP.items %}
            <tr>
              <td>{{ currency }}</td>
              <td>£{{ rate }}</td>
            </tr>
          {% endfor %}
          <tr>
            <th>Euro</th>
            <th></th>
          </tr>
          {% for currency, rate in EUR.items %}
            <tr>
              <td>{{ currency }}</td>
              <td>€{{ rate }}</td>
            </tr>
          {% endfor %}
        </tbody>      
  </table>
</div>
