{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="https://kit.fontawesome.com/ff9201489b.js" crossorigin="anonymous"></script>
    {% endblock %}    

    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <header>
        {% include 'includes/top-bar.html' %}
        {% include 'includes/metal-api.html' %}
        {% include 'includes/main-nav.html' %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div id="main-footer">
            <img src="{% static 'media/logo.png' %}">
            <a href="https://www.linkedin.com/in/rafaelmarianocorrea/" target="_blank"><span class="fa-brands fa-linkedin fa-lg"></span>   LINKEDIN</a>
            <a href="https://github.com/rafaelmarianocorrea/" target="_blank"><span class="fa-brands fa-github fa-lg"></span>   GITHUB</a>
        </div>  
    </footer>
</body>
</html>